/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menu/menuitem ::::: */

menubar > menu,
#main-menubar > menu {
  -moz-appearance: menuitem !important;
  -moz-box-align: center;
  box-shadow: none;
}

menu,
menuitem,
menucaption,
.splitmenu-menuitem {
  -moz-appearance: none;
  -moz-box-align: center;
  border: 1px solid transparent;
  font: menu;
  list-style-image: none;
  -moz-image-region: auto;
}

menuitem,
.splitmenu-menuitem {
  color: #000000;
}

menuitem[default="true"] {
  font-weight: bold;
}

menu[disabled="true"],
menuitem[disabled="true"],
.splitmenu-menuitem[disabled="true"],
menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"],
.splitmenu-menuitem[_moz-menuactive="true"][disabled="true"] {
  color: #989898;
  text-shadow: none;
}

menuitem.spell-suggestion {
  font-weight: bold;
}

/* ..... internal content .... */

.menu-accel,
.menu-iconic-accel,
.menu-text,
.menu-iconic-text {
  margin: 0px !important;
  padding: 1px 0px;
  color: inherit;
}

.menu-text {
  -moz-appearance: none;
  font-weight: inherit;
  padding-inline-start: 2.2em !important;
}

.menu-iconic-text {
  font-weight: inherit;
  padding-inline-end: 2px;
}

menucaption > .menu-text,
menucaption > .menu-iconic-text {
  font-weight: bold;
  padding-inline-start: 0 !important;
}

.menu-description {
  font-style: italic;
  color: GrayText;
  margin-inline-start: 1ex !important;
}

.menu-accel,
.menu-iconic-accel {
  color: #656565;
  margin-inline-start: 0.74em !important;
  margin-inline-end: 1em !important;
}

.menu-iconic-left {
  min-width: 1.45em;
  margin-top: -1px !important;
  margin-inline-end: 6px !important;
  margin-inline-start: 4px !important;
}

.menu-iconic-icon {
  width: 16px;
  height: 16px;
}

/* ..... menu arrow box ..... */

.menu-right {
  -moz-appearance: none;
  margin-top: -1px;
  margin-inline-end: -1px;
  min-width: 1.28em;
  list-style-image: url("chrome://global/skin/icons/menu_more.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.menu-right:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/icons/menu_more2.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

/* ::::: menu/menuitems in menubar ::::: */

menubar > menu {
  border: 2px solid transparent;
}

menubar > menu[_moz-menuactive="true"]:not([disabled="true"]) {
  color: -moz-menubarhovertext;
}

menubar > menu[_moz-menuactive="true"][open="true"] {
  border-width: 3px 1px 1px 3px;
}

menubar > menu:-moz-lwtheme {
  -moz-appearance: none;
  border-style: none;
}

menubar > menu:-moz-lwtheme:not([disabled="true"]) {
  color: inherit !important;
}

menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
  background-color: Highlight;
  color: HighlightText !important;
  text-shadow: none;
}

menubar > menu:-moz-window-inactive {
  color: ThreeDShadow;
}

/* ..... internal content .... */

.menubar-left {
  color: inherit;
}

.menubar-text {
  margin: 1px 6px 2px 6px !important;
  color: inherit;
}

/* ::::: menu/menuitems in popups ::::: */

menupopup menu,
menupopup menuitem,
menupopup menucaption {
  max-width: 42em;
  height: 23px;
}

menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"],
.splitmenu-menuitem[_moz-menuactive="true"],
.menulist-menupopup > menuitem[_moz-menuactive="true"],
menulist > menupopup > menuitem[_moz-menuactive="true"],
.menulist-menupopup > menu[_moz-menuactive="true"],
menulist > menupopup > menu[_moz-menuactive="true"] {
  border-color: transparent;
  background-color: #CDE6FE;
}

/* ::::: menu/menuitems in menulist popups ::::: */

menulist > menupopup > menuitem,
menulist > menupopup > menucaption,
menulist > menupopup > menu {
  -moz-appearance: none;
  border: 1px solid transparent;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  max-width: none;
  color: -moz-FieldText;
}

menulist > menupopup > menuitem > .menu-iconic-left,
menulist > menupopup > menucaption > .menu-iconic-left,
menulist > menupopup > menu > .menu-iconic-left {
  display: none;
  padding-top: 0px;
}

menulist > menupopup > menuitem > label,
menulist > menupopup > menucaption > label,
menulist > menupopup > menu > label {
  padding-top: 0px;
  padding-bottom: 0px;
}

menulist > menupopup > menuitem[_moz-menuactive="true"][disabled="true"] {
  color: #999999;
}

menulist > menupopup > menuitem[disabled="true"]:not([_moz-menuactive="true"]):-moz-system-metric(windows-classic) {
  color: #999999;
  text-shadow: none;
}

menulist > menupopup > :-moz-any(menuitem, menucaption):not(.menuitem-iconic) > .menu-iconic-text {
  margin: 0 !important;
}

/* ::::: checkbox and radio menuitems ::::: */

menuitem[type="checkbox"][checked="true"] {
  list-style-image: url("chrome://global/skin/checkbox/menu_check.png");
}

menuitem[type="radio"][checked="true"] {
  list-style-image: url("chrome://global/skin/radio/menu_radio.png");
}

/* ::::: menuseparator ::::: */

menuseparator {
  -moz-appearance: none;
  border-top: 1px dotted #B6B6B6;
  border-bottom: none;
  margin: 2px 2px 0px 2px;
  padding: 1px 0;
}

/* ::::: autocomplete ::::: */

.autocomplete-history-popup > menuitem {
  max-width: none !important;
  font: message-box;
}
