/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/*** Panel and outer controls ***/

#downloadsPanel > .panel-arrowcontainer > .panel-arrowcontent {
  padding: 0;
}

#downloadsListBox {
  background-color: #FFFFFF;
  color: inherit;
}

#downloadsPanel:not([hasdownloads]) > #downloadsListBox {
  display: none;
}

#downloadsPanel[hasdownloads] > #emptyDownloads {
  display: none;
}

#emptyDownloads {
  padding: 10px 20px;
  max-width: 40ch;
}

#downloadsFooter {
  background-color: #F2F2F2;
  box-shadow: 0 1px 0 0 #CBCBCB inset; 
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#downloadsHistory {
  background: transparent;
  color: -moz-nativehyperlinktext;
  cursor: pointer;
  box-shadow: none; 
}

#downloadsPanel[keyfocus] > #downloadsFooter > #downloadsHistory:focus {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -1px;
}

#downloadsHistory > .button-box {
  border: none;
  margin: .6em;
}

/*** Downloads Summary and List items ***/

#downloadsSummary,
richlistitem[type="download"] {
  height: 4em;
  -moz-padding-end: 0;
  color: inherit;
}

#downloadsSummary {
  padding: 8px 38px 8px 12px;
  cursor: pointer;
  -moz-user-focus: normal;
}

#downloadsPanel[keyfocus] > #downloadsFooter > #downloadsSummary:focus {
  outline: 1px -moz-dialogtext dotted;
  outline-offset: -5px;
}

#downloadsSummary > .downloadTypeIcon {
  list-style-image: url("chrome://browser/skin/downloads/download-summary.png");
}

#downloadsSummaryDescription {
  color: -moz-nativehyperlinktext;
}

richlistitem[type="download"] {
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #E4E4E4;
  background: transparent;
  padding: 8px;
}

richlistitem[type="download"]:first-child {
  border-top: 1px solid transparent;
}

richlistitem[type="download"]:last-child {
  border-bottom: 1px solid transparent;
}

#downloadsPanel[keyfocus] > #downloadsListBox:focus > richlistitem[type="download"][selected] {
  background-color: #CEE6FD;
}

.downloadTypeIcon {
  -moz-margin-end: 8px;
  /* Prevent flickering when changing states. */
  height: 32px;
  width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

/* We hold .downloadTarget, .downloadDisplayName, .downloadProgress and 
   .downloadDetails inside of a vbox with class .downloadContainer. 
   We set the font-size of the entire container to 90% because:

   1) This is the size that we want .downloadDetails to be
   2) The container's width is set by localizers by &downloadDetails.width;,
      which is a ch unit. Since this is the value that should control the
      panel width, we apply it to the outer container to constrain
      .downloadTarget/.downloadDisplayName and .downloadProgress.

   Finally, since we want .downloadTarget/.downloadDisplayName's font-size
   to be at 100% of the font-size of .downloadContainer's parent, 
   we use calc to go from the smaller font-size back to the original font-size.
 */
#downloadsSummaryDetails,
.downloadContainer {
  font-size: 90%;
}

#downloadsSummaryDescription,
.downloadTarget,
.downloadDisplayName {
  margin-bottom: 6px;
  cursor: inherit;
}

.downloadTarget,
.downloadDisplayName {
  font-size: calc(100%/0.9);
}

#downloadsSummaryDetails,
.downloadDetails {
  opacity: 0.6;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 3px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
  box-shadow: none;
}

.downloadButton > .button-box {
  border: 1px solid transparent;
  padding: 0;
}

#downloadsPanel[keyfocus] .downloadButton:focus > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/*** Highlighted list items ***/

#downloadsPanel:not([keyfocus]) > #downloadsListBox > richlistitem[type="download"][state="1"][exists]:hover {
  background-color: #CEE6FD;
  color: black;
  cursor: pointer;
}

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadShow:active {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:hover {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}
richlistitem[type="download"]:hover > stack > .downloadButton.downloadRetry:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}

/*** Status and progress indicator ***/

#downloads-indicator-anchor {
  z-index: 1;
  position: relative;
}

/*** Main indicator icon ***/

#downloads-indicator-icon {
  background: -moz-image-rect(var(--toolbarbutton-image),
                              0, 108, 18, 90) center no-repeat;
  min-width: 18px;
  min-height: 18px;
}

toolbar[brighttext] #downloads-indicator-icon {
  background: -moz-image-rect(var(--toolbarbutton-inverted-image),
                              0, 108, 18, 90) center no-repeat;
}

@media (-moz-windows-glass) {
  #toolbar-menubar #downloads-indicator-icon:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator-icon:not(:-moz-lwtheme) {
    background: -moz-image-rect(var(--toolbarbutton-inverted-image),
                                0, 108, 18, 90) center no-repeat;
  }
}

#downloads-indicator[attention] > #downloads-indicator-anchor > #downloads-indicator-icon {
  background-image: url("chrome://browser/skin/downloads/download-glow.png");
}

#downloads-indicator:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
  background: url("chrome://browser/skin/downloads/favicon_downloads.png") no-repeat center;
}

#downloads-indicator:not([counter])[attention] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
  background-image: url("chrome://browser/skin/downloads/download-glow.png");
}

/*** Download notifications ***/

#downloads-indicator-notification {
  opacity: 0;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes downloadsIndicatorNotificationStartRight {
  from { opacity: 0; transform: translate(-128px, 128px) scale(8); }
  20%  { opacity: .85; animation-timing-function: ease-out; }
  to   { opacity: 0; transform: translate(0) scale(1); }
}

@keyframes downloadsIndicatorNotificationStartLeft {
  from { opacity: 0; transform: translate(128px, 128px) scale(8); }
  20%  { opacity: .85; animation-timing-function: ease-out; }
  to   { opacity: 0; transform: translate(0) scale(1); }
}

#downloads-indicator[notification="start"] > #downloads-indicator-anchor > #downloads-indicator-notification {
  background-image: url("chrome://browser/skin/downloads/download-notification-start.png");
  animation-name: downloadsIndicatorNotificationStartRight;
  animation-duration: 1s;
}

#downloads-indicator[notification="start"]:-moz-locale-dir(rtl) > #downloads-indicator-anchor > #downloads-indicator-notification {
  animation-name: downloadsIndicatorNotificationStartLeft;
}

@keyframes downloadsIndicatorNotificationFinish {
  from { opacity: 0; transform: scale(1); }
  20%  { opacity: .65; animation-timing-function: ease-in; }
  to   { opacity: 0; transform: scale(8); }
}

#downloads-indicator[notification="finish"] > #downloads-indicator-anchor > #downloads-indicator-notification {
  background-image: url("chrome://browser/skin/downloads/download-notification-finish.png");
  animation-name: downloadsIndicatorNotificationFinish;
  animation-duration: 1s;
}

/*** Progress bar and text ***/

#downloads-indicator-counter {
  margin: -3px 0 !important;
  color: black;
  text-shadow: hsla(0,0%,100%,.5) 0 1px;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
}

@media not all and (-moz-windows-compositor) {
  #downloads-indicator-counter {
    margin: -1px 0 !important;
  }
}

toolbar[brighttext] #downloads-indicator-counter {
  color: white;
  text-shadow: 0 0 1px rgba(0,0,0,.7),
               0 1px 1.5px rgba(0,0,0,.5);
}

#downloads-indicator-progress {
  width: 16px;
  height: 5px;
  min-width: 0;
  min-height: 0;
  margin-top: 2px !important;
  margin-bottom: 0  !important;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.4);
}

#downloads-indicator-progress > .progress-bar {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background-image: linear-gradient(#3C9EFF, #3199FF, #2994FF);
  border: 1px solid #117EEA;
  box-shadow: none;
}

#downloads-indicator-progress > .progress-remainder {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background: #F6F6F6;
  border: 1px solid #BBBBBB;
  -moz-border-start: none;
}

#downloads-indicator[paused] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-progress > .progress-bar {
  background-image: linear-gradient(#999999, #999999);
  border: 1px solid #999999;
}

@media (-moz-windows-compositor) {
  /* The following rules are for the downloads indicator when in its normal,
     non-downloading, non-paused state (ie, it's just showing the downloads
     button icon). */
  #toolbar-menubar #downloads-indicator:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator:not([attention]) > #downloads-indicator-anchor > #downloads-indicator-icon:not(:-moz-lwtheme),

  /* The following rules are for the downloads indicator when in its paused
     or undetermined progress state. We use :not([counter]) as a shortcut for
     :-moz-any([progress], [paused]). */

  /* This is the case where the downloads indicator has been moved next to the menubar */
  #toolbar-menubar #downloads-indicator:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter,
  /* This is the case where the downloads indicator is in the tabstrip toolbar with tabs on top. */
  #TabsToolbar[tabsontop=true] #downloads-indicator:not(:-moz-lwtheme):not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
    background-image: -moz-image-rect(var(--toolbarbutton-inverted-image), 0, 108, 18, 90);
  }

  #toolbar-menubar #downloads-indicator-counter:not(:-moz-lwtheme),
  #TabsToolbar[tabsontop=true] #downloads-indicator-counter:not(:-moz-lwtheme) {
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,.7),
                 0 1px 1.5px rgba(0,0,0,.5);
  }
}

#downloads-indicator-counter {
  margin-bottom: -1px;
}
