/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== checkbox.css ===================================================
  == Styles used by the XUL checkbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: checkbox ::::: */

checkbox {
  -moz-appearance: none;
  -moz-box-align: center;
  margin: 2px 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 2px;
}

.checkbox-label-box {
  margin-inline-start: 2px;
  padding: 0px 1px;
  border: 1px solid transparent;
}

.checkbox-icon {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

checkbox:-moz-focusring > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/check_hover.png");
}

checkbox[checked="true"]:-moz-focusring > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/checked_hover.png");
}

/* ..... disabled state ..... */

checkbox[disabled="true"] > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/check_disabled.png") !important;
}

checkbox[disabled="true"] {
  color: #666666;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  -moz-appearance: none;
  min-width: 20px;
  min-height: 20px;
}

checkbox .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/check.png");
}

checkbox:hover >  .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/check_hover.png");
}

/* ..... checked state ..... */

checkbox[checked="true"] > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/checked.png");
}

checkbox[checked="true"]:hover > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/checked_hover.png");
}

checkbox[checked="true"][disabled="true"] > .checkbox-check {
  list-style-image: url("chrome://global/skin/checkbox/checked_disabled.png") !important;
}

checkbox:hover .checkbox-label {
  color: #0066CC !important;
}