/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== menu.css =======================================================
  == Styles used by XUL menu-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* :::::::::: menulist :::::::::: */

menulist {
  margin: 1px 8px 2px 0px;
  padding: 2px;
  min-width: 6.3em;
  -moz-appearance: none;
  background:-moz-linear-gradient(#FFFFFF, #FAFAFA, #F6F6F6);
  background-clip: padding-box;
  border: 1px solid;
  border-color: #BBBBBB;
  color: #000000;
}

menulist:not([disabled="true"]):hover {
  background:-moz-linear-gradient(#FFFFFF, #F7FBFF, #F0F7FF);
  border-color: #3499FF;
}

menulist:not([disabled="true"]):hover:active,
menulist[open="true"],
menulist[checked="true"] {
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
}

.menulist-label-box {
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 1px;
}

.menulist-label-box,
menulist[open="true"]:focus > .menulist-label-box {
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
  -moz-box-align: center;
}

.menulist-icon[src] {
  margin: 0px 2px 0px 2px;
}

.menulist-label {
  margin-top: 0 !important;
  -moz-margin-end: 0 !important;
  margin-bottom: 0 !important;
  -moz-margin-start: 1px !important;
}

.menulist-description {
  font-style: italic;
  color: GrayText;
  -moz-margin-start: 1ex !important;
}

/* ..... focused state ..... */

menulist:focus:not([open="true"]):not(.menulist-compact) {
  background:-moz-linear-gradient(#FFFFFF, #F7FBFF, #F0F7FF);
  border-color: #3499FF;
}

/* ..... disabled state ..... */

menulist[disabled="true"] {
  background-color: -moz-Dialog;
  color: GrayText;
}

/* ::::: editable menulists ::::: */

.menulist-editable-box {
  padding-top: 3px;
  padding-bottom: 3px;
  -moz-padding-start: 2px;
  -moz-padding-end: 0px;
}

html|*.menulist-editable-input {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background: inherit;
  font: inherit;
}

/* ::::: compact menulists ::::: */

.menulist-compact {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  color: ButtonText;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}

.menulist-compact > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}  

.menulist-compact > .menulist-label-box > .menulist-icon {
  -moz-margin-start: 2px;
}

.menulist-compact[open="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

.menulist-compact[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}

.menulist-compact:focus > .menulist-label-box {
  border: 1px dotted transparent;
  background-color: transparent;
  color: inherit;
}

menulist:focus > .menulist-label-box {
  border: 1px dotted transparent;
  background-color: transparent;
  color: inherit;
}

.menulist-dropmarker {
  -moz-appearance: none!important;
  padding: 0 1px!important;
  background-color: transparent!important;
  border: none !important;
  height: auto !important;
  list-style-image: url("chrome://global/skin/icons/select-bg.png") !important;
}

#SanitizeDurationBox menulist {
  -moz-margin-end: 4px !important;
}