/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== radio.css ===================================================
  == Styles used by the XUL radio element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: radio ::::: */

radio {
  -moz-appearance: none;
  -moz-box-align: center;
  margin: 2px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 2px;
}

.radio-label-box {
  -moz-margin-start: 4px;
  -moz-margin-end: 2px;
  border: 1px solid transparent;
}

.radio-icon {
  -moz-margin-end: 2px;
}

.radio-label {
  margin: 0 !important;
}

/* ..... focused state ..... */

radio[focused="true"] > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio_hover.png");
}

radio[focused="true"][selected="true"] > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radiochk_hover.png");
}

/* ..... disabled state ..... */

radio[disabled="true"] > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio_disabled.png");
}

radio[disabled="true"] {
  color: #666666;
}

radio[disabled="true"]:-moz-system-metric(windows-classic) {
  color: ThreeDShadow;
  text-shadow: 1px 1px ThreeDHighlight;
}

/* ::::: checkmark image ::::: */

.radio-check-box1 {
  -moz-appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  list-style-image:url("chrome://global/skin/radio/radio.png");
}

radio:hover > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radio_hover.png");
}

/* ..... selected state ..... */

radio[selected="true"] > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radiochk.png");
}

radio[selected="true"]:hover > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radiochk_hover.png");
}

radio[selected="true"][disabled="true"] > .radio-check-box1 {
  list-style-image:url("chrome://global/skin/radio/radiochk_disabled.png");
}

radio:hover .radio-label-box {
  color: #0066CC !important;
}