#toolbar-menubar:not(:-moz-lwtheme) {
  -moz-appearance: menubar !important;
}

#TabsToolbar[tabsontop=true]:not(:-moz-lwtheme) {
  -moz-appearance: menubar;
  color: -moz-menubartext;
}

#appmenu-toolbar-button {
  -moz-appearance: none;
  border: none;
  padding: 3px 5px 3px 3px !important;
  list-style-image: url("chrome://browser/skin/appmenu.png");
  -moz-image-region: auto;
}

toolbar[brighttext] #appmenu-toolbar-button {
  list-style-image: url("chrome://browser/skin/appmenu-inverted.png");
}

#appmenu-toolbar-button > label,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker {
  display: none !important;
}

/* Private browsing indicator */

#main-window[privatebrowsingmode=temporary] #TabsToolbar::before {
  display: -moz-box;
  content: "";
  background: url("chrome://browser/skin/Privacy-16.png") center no-repeat;
  width: 32px;
}